body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img{
    width: 100%;
    height: 100%;
    transition-delay: 0.5s;
    transition: all 0.3s ease-in-out;
}

.container:hover img{
    transition-delay: 0;
    transform:  scale(0) rotate(360deg);
}

.container{
    width: 400px;
    height: 400px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border: 1px solid;
}


.container::before{
    content: "";
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    transition: all 0.2s ease-in-out;
    
}


.container:hover::before{
    transition-delay: 0.3s;
    background-color: rgba(0,0,0,0.3);
}

.container div, .container button{
    text-transform: uppercase;
}

.container .img-tag{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    position: absolute;
    text-align: center;
    top:10%;
    background-color: black;
    color: aliceblue;
    padding: 8px 0px;
    opacity: 0;
    transform: translate(100%, -250%);
    transition: all 0.2s ease-in-out;
    
}

.container:hover .img-tag{
    transform: translate(0);
    opacity: 1;
    transition-delay: 0.5s;
}

.container .img-body{
    font-size: 14px;
    position: absolute;
    text-align: center;
    top: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    transform: translate(-100%, 100%);
    opacity: 0;
      transition: all 0.2s ease-in-out;
}

.container:hover .img-body{
    transform: translate(0);
    opacity: 1;
    transition-delay: 0.5s;

}

.container .img-btn{
    font-size: 16px;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 60px);
    opacity: 0;
      transition: all 0.2s ease-in-out;
}

.container:hover .img-btn{
    transform: translate(-50%,0);
    opacity: 1;
    transition-delay: 0.5s;

}
