body{
    background-color: #333232;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    height: 36px;
    position: relative;

}
nav a div{
    overflow: hidden;
}

nav a:hover span{
    transform: translateY(-36px);
}

a span{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 120px;
    height: 36px;
    transition: all 0.3s ease-in-out;
}

nav a::before{
    content:  "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: red;
    transition: all 0.3s ease-in-out 0.3s;
    transform-origin: left;
}

nav a:hover::before{
    width: 100%;
     transition: all 0.3s ease-in-out 0.3s;
     transform-origin: right;
}