body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 45px;
  padding: 30px 80px;
  border: 2px solid black;
  font-family: sans-serif;
  position: relative;
  cursor: pointer;
}
a:hover {
  color: white;
}
a span {
  position: relative;
  color: transparent;
}
a span::before {
  content: "B";
  color: black;
  position: absolute;
  transition: all 0.2s;
}

a:hover span::before {
  top: -8px;
  left: -8px;
  color: white;
  transform: rotateZ(360deg) scale(1.5);
}

a::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

a:hover::before {
  transform: rotateZ(10deg);
  opacity: 1;
}
