body {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  gap: 20px;
}

nav h3 {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  position: relative;
  font-size: 2rem;
  padding: 4px 6px;
  cursor: pointer;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2px #222;
}

h3::after {
  content: attr(data-text);
  color: #000;
  width: 0px;
  height: 100%;
  padding: 4px 6px;
  border-right: 2px solid #222;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-text-stroke: 0px #222;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

h3:hover::after {
  width: 100%;
}
