body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.container img{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.container .text-container{
    background-color: black;
    color: white;
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    transform: translateY(100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.container p, .container h3 {
    margin: 0px;
}

.container:hover .text-container{
    transform: translateY(0);
}

.container:hover img{
    transform: translateY(-100px);
}

